terraform/variables.tfvars
terraform/.terraform.lock.hcl
terraform/.terraform
client/config_client.json
src/charset_normalizer
src/charset_normalizer-3.4.1.dist-info
src/cryptography
src/cryptography-44.0.2.dist-info
src/idna
src/rust
src/urllib3
src/urllib3-2.3.0.dist-info